.header {
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 60px;
    background-color: grey;
    z-index: 17001;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-right: 5px;

    &_leftImg {
        margin-left: 25px;
        cursor: pointer;
        &_icon {
            max-height: 40px;
            margin: 6px 5px 2px 5px;
        }
    }

    &_name {
        display: flex;
        padding: 0 10px;        
        border-radius: 3px;
        min-width: 128px;
        max-width: 250px;
        height: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 100%;
    }
}

.header > div:first-child {
    display: flex;
    flex-flow: row;
    align-items: center;
}